* { box-sizing: border-box; -webkit-tap-highlight-color: transparent; user-select: none; }
body { margin: 0; background: #000; color: white; font-family: 'Courier New', monospace; overflow: hidden; }

#game-screen { width: 100vw; height: 100vh; position: relative; display: flex; flex-direction: column; }
#ui-top { display: flex; justify-content: space-between; padding: 10px; background: #000; z-index: 100; font-size: 0.9rem;}

#office { flex: 1; position: relative; background: #151515; display: flex; align-items: center; justify-content: center; }

.window-style { width: 50%; height: 35%; border: 4px solid #444; position: absolute; top: 25%; }
.door-style { width: 25%; height: 80%; border: 4px solid #444; position: absolute; right: 2%; }

/* Controles de Temperatura perto da Janela */
#temp-controls { position: absolute; top: 62%; display: flex; gap: 20px; z-index: 10; }
#temp-controls button { font-size: 2rem; background: rgba(0,0,0,0.6); border: 2px solid #555; color: white; padding: 10px 20px; border-radius: 10px; }

.aperture { display: flex; align-items: center; justify-content: center; background: #050505; transition: 0.2s; }
.closed { background: #500; border-color: red; }

#camera-monitor { position: absolute; inset: 0; background: #000; display: none; flex-direction: column; z-index: 150; }
#cam-view { flex: 1; border: 5px solid #222; position: relative; display: flex; justify-content: center; align-items: center;}
#btn-recharge { display: none; font-size: 3rem; background: #0f0; border: none; padding: 20px; border-radius: 50%; cursor: pointer; position: absolute; z-index: 200; }

#motion-alert { position: absolute; top: 10px; left: 10px; color: #0f0; background: rgba(0,0,0,0.8); padding: 5px; font-size: 0.7rem; z-index: 160;}

#cam-controls { padding: 10px; background: #111; }
#cam-buttons { display: grid; grid-template-columns: repeat(3, 1fr); gap: 5px; margin-bottom: 5px; }
.cam-btn { padding: 15px; background: #222; color: #0f0; border: 1px solid #0f0; }

#office-controls { display: flex; height: 80px; }
#office-controls button { flex: 1; background: #222; color: white; border: 1px solid #444; font-size: 0.7rem; }
